.container{
    width: 75vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.loginSuccess{
    color: green;
}


.loginFailed{
    color: red;
}

.loginOrRegister{
    position: absolute;
    bottom: 10vh;
    width: 100%;
    text-align: center;
}